@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./animations.css");
@import url("./tiptap.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  scroll-behavior: smooth;
}

.tiptap_output > * {
  word-wrap: break-word;
}

body {
  color: black;
  box-sizing: border-box;
  outline: none;
  background-color: #fafafa;
  font-weight: 500;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.font-main {
  font-family: var(--font-yekan) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.word-break {
  word-break: break-word;
}
