@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./animations.css");
@import url("./tiptap.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  scroll-behavior: smooth;
}

.tiptap_output > * {
  word-wrap: break-word;
}

body {
  color: black;
  box-sizing: border-box;
  outline: none;
  background-color: #fafafa;
  font-weight: 500;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.font-main {
  font-family: var(--font-yekan) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.word-break {
  word-break: break-word;
}

.hero-bg {
  background-color: hsla(27, 28%, 47%, 1);
  background-image: radial-gradient(
      at 50% 3%,
      hsla(159, 29%, 47%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(159, 29%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 53%, hsla(18, 98%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 78% 47%, hsla(10, 76%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 0%, hsla(194, 29%, 33%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 97%, hsla(159, 29%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 0%, hsla(159, 29%, 47%, 1) 0px, transparent 50%);
  background-size: 300% 300%;
  animation: hero-animation 12s ease-in-out infinite;
}

@keyframes hero-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  background: #fff;
  box-sizing: border-box;
  animation: shadowExpandX 1s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}
