.ProseMirror {
  outline: none;
  min-height: 400px;
}

.tiptap {
  line-height: 30px;
}

.tiptap h1 {
  font-size: 20px;
  font-weight: 600;
}

.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

.tiptap ol {
  padding: 0 1rem;
  list-style: decimal !important;
}

.tiptap ul {
  padding: 0 1rem;
  list-style: disc !important;
}
